<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <form action='https://secure.payu.in/_payment' method='post'>
            <input type="hidden" name="key" value="zXMACE" />
            <input type="hidden" name="txnid" value="fIR9Ks8cMdWVE" />
            <input type="hidden" name="productinfo" value="iPhone" />
            <input type="hidden" name="amount" value="10" />
            <input type="hidden" name="email" value="test@gmail.com" />
            <input type="hidden" name="firstname" value="PayU User" />
            <input type="hidden" name="surl" value="https://apiplayground-response.herokuapp.com/" />
            <input type="hidden" name="furl" value="https://apiplayground-response.herokuapp.com/" />
            <input type="hidden" name="phone" value="9988776655" />
            <input type="hidden" name="hash" value="65cfa61cc4d41e29175fc38babedb36644fec543411278f495ed856e9853d1922d68039c60ab83fd0ae249cfa41e10f6fe57cb9272cc0017948a52edd096a29a" />
            <input type="submit" value="submit">
    </form>
</body>
</html>